SourceCode/AvalonSolutionWeb_4.0/App_WebReferences/com/ashidiamonds/service/SalesmanDataAccessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ashidiamonds.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ashidiamonds.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ashidiamonds.com/">
      <s:element name="GetSalesManEmailIDByStateCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesManEmailIDByStateCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesManEmailIDByStateCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSalesManEmailIDByStateCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesManEmailIDByStateCode" />
  </wsdl:message>
  <wsdl:message name="GetSalesManEmailIDByStateCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesManEmailIDByStateCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetSalesManEmailIDByStateCode">
      <wsdl:input message="tns:GetSalesManEmailIDByStateCodeSoapIn" />
      <wsdl:output message="tns:GetSalesManEmailIDByStateCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalesManEmailIDByStateCode">
      <soap:operation soapAction="http://ashidiamonds.com/GetSalesManEmailIDByStateCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalesManEmailIDByStateCode">
      <soap12:operation soapAction="http://ashidiamonds.com/GetSalesManEmailIDByStateCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://service.ashidiamonds.com/SalesmanDataAccessService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://service.ashidiamonds.com/SalesmanDataAccessService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>