SourceCode/AvalonSolutionWeb_4.0/App_WebReferences/WebReference/ECatelogWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://IDOCollection.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://IDOCollection.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://IDOCollection.com/">
      <s:element name="GetIDoPageDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="catalogID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIDoPageDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIDoPageDetailsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIDoProductDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="catalogID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIDoProductDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIDoProductDetailsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetIDoPageDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIDoPageDetails" />
  </wsdl:message>
  <wsdl:message name="GetIDoPageDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIDoPageDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetIDoProductDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIDoProductDetails" />
  </wsdl:message>
  <wsdl:message name="GetIDoProductDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIDoProductDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetIDoPageDetails">
      <wsdl:input message="tns:GetIDoPageDetailsSoapIn" />
      <wsdl:output message="tns:GetIDoPageDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIDoProductDetails">
      <wsdl:input message="tns:GetIDoProductDetailsSoapIn" />
      <wsdl:output message="tns:GetIDoProductDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIDoPageDetails">
      <soap:operation soapAction="http://IDOCollection.com/GetIDoPageDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIDoProductDetails">
      <soap:operation soapAction="http://IDOCollection.com/GetIDoProductDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIDoPageDetails">
      <soap12:operation soapAction="http://IDOCollection.com/GetIDoPageDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIDoProductDetails">
      <soap12:operation soapAction="http://IDOCollection.com/GetIDoProductDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.1.250:1112/ECatelogWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.1.250:1112/ECatelogWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>